body {background-color: #000001; margin: 0px}
div {text-align: center; font-size:24px; font-family:'Montserrat'; width: 100%; margin: 0px; background-color:darkgray; color: white;}
#title {background-color: gray; height:60px; font-size:48px}
#subTitle {background-color: gray; height:30px; font-size:24px}
#aboutText {text-align: center; background-color: #36393E; font-size:20px; font-family:'Montserrat'; width: 100%; margin: 0px}
#creditsHeading {text-align: center; background-color: gray; font-size:24px; font-family:'Montserrat'; width: 100%; margin: 0px}
