body {
	margin:0;
	font-family:'Montserrat';
	padding-bottom:100px;
}
button {
	background-color:#e5e5e5;
	font-family:'Montserrat';
	margin-left:5px;
	border:none;
	border-radius:5px
}
button:hover {
	cursor:pointer;
	background-color:white
}
.pieces {
	background-color:lightblue;
	color:white;
	border:solid;
	border-width:2px;
	padding:7.5px16px;
}
.optionButton {
	height:48px;
	width:72px;
	font-family:'Montserrat';
	color:black;
	background-color:white;
}
.commonButton {
	background-color:black;
	border:solid;
	border-width:2px;
	color:white;
	padding:7.5px16px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:14px;
	font-family:'Montserrat';
}
.commonButton:hover{
	background-color:white;
	border:solid;
	border-width:2px;
	color:black;
	padding:7.5px16px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:14px;
	font-family:'Montserrat';
}
#warUpg {
	text-align:center;
	font-size:14px;
	background-color:black;
	color:white;
	height:150px;
	width:150px;
	border-radius:20px;
}
#warUpg:hover{
	text-align:center;
	font-size:14px;
	background-color:lightgray;
	color:black;
	height:150px;
	width:150px;
	border-radius:20px;
}
.normDTbutton{
	text-align:center;
	font-size:14px;
	background-color:darkgray;
	color:red;
	height:150px;
	width:150px;
	border-radius:20px;
	vertical-align:middle;
}
.normDTbutton:hover {
	background-color:red;
	color:black;
}
.greenDTbutton{
	text-align:center;
	font-size:14px;
	background-color:lightgreen;
	color:red;
	height:150px;
	width:150px;
	border-radius:20px;
	vertical-align:middle;
}
.redDTbutton{
	text-align:center;
	font-size:14px;
	background-color:red;
	color:#f8f8ff;
	height:150px;
	width:150px;
	border-radius:20px;
	vertical-align:middle;
	pointer-events:none;
}
table.prestiges tr {
	height:0%;
	vertical-align:0
}
table.prestiges tr {
	width: 100%;
	display: table;
	table-layout: fixed;
}
table.prestiges {
	display: table;
	width: 100%;
	font-size: 15px
}
table.prestiges thead,
table.prestiges tbody {
	width: 100%
}
table.prestiges thead
text-align:center;
display: table;
table-layout: fixed;
}
table.prestiges tbody {
    text-align: center;
    overflow: auto;
    height: 125px;
    display: block;
}
table.sidebar tr {
    height:0%;
	vertical-align:0
}
        

table.storybox {
    display: table;
    width: 100%;
    font-size: 15px;
}
table.storybox thead,
table.storybox tbody {
    width: 100%;
}

table.storybox thead {
    text-align:center;
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    width: calc(100% - 16px); /* assuming scrollbar width as 16px */
}

table.storybox tbody {
    text-align: left;
    overflow: auto;
    height: 125px;
    display: block;
}

table.storybox tr {
width: 100%;
    display: table;
    table-layout: fixed;
}

.boughtUpgrade {
background-color:#00e500
}
.cantBuy, .cantBuy:hover {
	background-color:#424242;
	color: white;
	pointer-events: none;
}

.comp {
    width:40%;
    text-align:left;
    align-items:center;
}

    .comp td {
        width: 50%;
    }
    .comp td button {
        width: 100%;
        text-align: left;
	    background-color: darkgray; 
border: solid; 
border-width: 2px;
color: red;   
text-decoration: none; 
display: inline-block; 
font-size: 14px
    }
.tabButton {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    background-color: darkgray; /* should be obvious */
}
.tabButton:hover {
	background-color: lightgray;
}
.bugfixes {
	font-size:8px;
	color:#404040
}
.hurryUp {
	font-size:8px;
	color:#e50000
}
.EEExplanation {
	font-sixe:8px;
}
.warUpg1 {
	width:160px;
	height:64px
}
.warUpg2 {
  width:160px;
  height:85px
}
.tabButton:hover {
	background-color: lightgray;
}
#warnings {
	position:fixed;
    width:180px;
    height:24px;
	left:0;
	bottom:24px;
	padding-top:6px;
	background-color:#e5e572;
}
#percentToWarning {
	position: fixed;
    width:calc(80% - 20px);
	right:calc(20% + 20px);
    height:30px;
	bottom:24px;
	background-color:#e5e500;
}
#percentToWarningBar {
    width: 0%;
    height: 30px;
} 
#percentToWarningProgress {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	font-size:25px
} 
#hotkeyText {
	text-align:center;
	font-size:14px
}

